#iz{
    background-color: #353535;
    color: white;
    width: 10%;
    height: 100vh;
}
#dr{
    width: 85%;
    height: 100vh;
}
#rojo{
    background-color: red;
    width: 100%;
    height: 25%;
}
#cyan{
    background-color: cyan;
    width: 100%;
    height: 25%;
}
#ama{
    background-color: yellow;
    width: 100%;
    height: 25%;
}
#nar{
    background-color: orangered;
    width: 100%;
    height: 25%;
}
.row{
    background-color: #353535;
    min-height: 100vh;
}
ul{
    font-style: white;
    margin-top: 20%;
    text-align: center;
    list-style: none;
}
li{
    color: white;
}
li:hover{
    color: rgb(160, 155, 155);
    cursor: pointer;
}

